@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container-grid {
  display: grid;
  grid-template-areas: 
    "header header header"
    "main article article"
    "footer footer footer";
  gap:30px;
  grid-template-columns: 3fr 2fr 1fr;
}
.bg-home {
  background: #e6d8f097!important;
}
.categories {
  display: flex;
  flex-direction: column;
}
header, .footer-text, .form-label, .categories{
  font-family: 'Great Vibes', cursive;
  grid-area: header;
}
.doc-img {
  width: 250px;;
  margin-left: 7vw;
  box-shadow:  0vh 0vh 15vh 2vh #888888;
}
article, .article{
  grid-area: article; 
}
footer {
  grid-area: footer;
  text-align: center;
}
.App-medicines {
  background-image: url("https://raw.githubusercontent.com/zuki2610/dermocosmetica-front/main/public/assets/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
}
.bienvenida{
font-size: 15vh;
margin-left: 10vw;
margin-top: 0;
}
.patient-title {
  color: #000;
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
main, .main {
  grid-area: main;
}
.card-img {
  width: 17vw !important;
  height: 24vh;
  object-fit: cover;
}
.App-logo {
  height: 40vmin;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.blink-1 {
	-webkit-animation: blink-1 .8s both;
	        animation: blink-1 .8s both;
}

 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.App-home {
  background-image: url("https://raw.githubusercontent.com/zuki2610/dermocosmetica-front/main/public/assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Form {
width: 24vw;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4vh;
margin-left: 42vw;
justify-content: center;
}
.form-medicina {
  width: 21vw;
}
.form {
  box-shadow:  0vh 0vh 7vh 2vh #6d6d6d;
  border-radius: 10px;
  padding: 2vh;
}
.btn {
  background-color: rgba(255, 152, 255, 0.719)!important;
  box-shadow:  0vh 0vh 3vh 0vh #6d6d6d;
  margin-left: 11vw;
  margin-top: 2vh;
  border-color: rgba(255, 152, 255, 0.416)!important;;
}
.App-patient {
  background-image: url("https://raw.githubusercontent.com/zuki2610/dermocosmetica-front/main/public/assets/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.medicine-main {
  width: 29vw;
  padding-left: 9vw;
}
.btn-patient {
  margin-right: 11vw;
}
.btn-medicines {
  margin-left: 7vw;
}
.btn-medicines2 {
  margin-left: 1vw;
}
.btn-medicines3 {
  margin-left: 10vw;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.card {
  box-shadow:  0vh 0vh 3vh 0vh #6d6d6d;
  border-radius: 10px;
  margin-bottom: 2vh;
  width: 38vw;
}
.medicine-title {
  padding-left: 7vw;
}
.newMedicine {
  background: #e6d8f097!important;
  width: 26vw;
}
.form-PDF {
  background: #e6d8f097!important;
  margin-left: 14vw;
  width: 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-PDF {
  margin-left: 1vw;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  display: block;
}

.react-datepicker__input-container input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-datepicker__input-container input:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.indicaciones {
  width: 23vw!important;
  height: 35vh!important;
  display: flex;
  flex-wrap: wrap;
}

.pdf-viewer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px; /* Ancho máximo deseado para el contenedor */
}


.pdf-viewer-container > div {
  width: 100%;
  height: 100%;
}
