@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container-grid {
  display: grid;
  grid-template-areas: 
    "header header header"
    "main article article"
    "footer footer footer";
  gap:30px;
  grid-template-columns: 3fr 1fr 1fr;
}
header, .footer-text, .form-label{
  font-family: 'Great Vibes', cursive;
  grid-area: header;
}
.doc-img {
  width: 250px;;
  margin-left: 7vw;
}
article{
  grid-area: article; 
}
footer {
  grid-area: footer;
  text-align: center;
}
.bienvenida{
font-size: 15vh;
margin-left: 14vw;
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.main {
  grid-area: main;
  
}
.article {
  grid-area: article;
}
.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.App-home {
  background-image: url("https://pixabay.com/es/photos/perfume-botella-vidrio-1433653/");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.patient-title, .subtitle, .date {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 1.5vh;
}
.Form {
width: 18vw;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 7vh;
margin-left: 42vw;
margin-bottom: 7vh;

}
.animate__backInDown {
background-image: url("https://img.freepik.com/foto-gratis/productos-maquillaje-agrupados-pinceles_23-2148181394.jpg?w=1060&t=st=1677380737~exp=1677381337~hmac=5b8d8d06d59ef94515807ac1b42f95af3251f517b868059a9f2ee5ca2e496c04");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
margin-top: 0;
}



